.section-title {
    font-size: 16px !important;
    font-weight: bold !important;
    
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
}

.section-title-dtnext {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.section-title-richnext {
    margin-bottom: 10px !important;
}

.richtext-large {
    min-height: 700px !important;
}

.geolocation-edit-action:hover {
    text-decoration: underline;
}